<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdong.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.chongdong.model.Permission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="permissionValue" column="permission_value" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,name,
        type,permission_value,path,
        component,icon,status,
        is_deleted,create_time,update_time
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        p.id,p.pid,p.name,p.type,p.permission_value,p.path,p.component,p.icon,p.status,p.is_deleted,p.create_time,p.update_time
    </sql>
    <!--根据用户id查询对应所有的权限表-->
    <select id="selectPermissionByUserId" resultMap="BaseResultMap">
        select
        <include refid="columns" />
        from tcd_user_role ur
        inner join tcd_role_permission rp on rp.role_id = ur.role_id
        inner join tcd_permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
        and ur.is_deleted = 0
        and rp.is_deleted = 0
        and p.is_deleted = 0
    </select>
    <!--根据用户id查对应的权限值-->
    <select id="selectPermissionValueByUserId" resultType="String">
        select
            p.permission_value
        from tcd_user_role ur
                 inner join tcd_role_permission rp on rp.role_id = ur.role_id
                 inner join tcd_permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
          and p.type = 2
          and ur.is_deleted = 0
          and rp.is_deleted = 0
          and p.is_deleted = 0
    </select>
    <!--查询系统管理员权限值-->
    <select id="selectPermissionValueByAdmin" resultType="String">
        select
            p.permission_value
        from tcd_permission p
                inner join tcd_role_permission rp on rp.permission_id = p.id
                inner join tcd_role r on r.id = rp.role_id
        where r.role_name = '系统管理员'
        and p.type = 2
        and p.is_deleted = 0
        and rp.is_deleted = 0
        and r.is_deleted = 0
    </select>
    <!--查询超级管理员权限值-->
    <select id="selectPermissionValueByRoot" resultType="java.lang.String">
        select
            p.permission_value
        from tcd_permission p
                 inner join tcd_role_permission rp on rp.permission_id = p.id
                 inner join tcd_role r on r.id = rp.role_id
        where r.role_name = '超级管理员'
          and p.type = 2
          and p.is_deleted = 0
          and rp.is_deleted = 0
          and r.is_deleted = 0
    </select>
</mapper>
